<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.w3.org/1999/xhtml" th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<h2>登陆页面</h2>
<div>
    <form action="/login" method="post">
        <label for="">用户名</label>
        <input type="text" name="username" placeholder="用户名">
        <label for="">密码</label>
        <input type="password" name="password" placeholder="密码">
        <input type="submit" value="登录">
    </form>
    <h2 th:utext="${msg2}"></h2>
</div>

<div>
    <form action="/delectuser" method="post">
        <label for="">用户名</label>
        <input type="text" name="username" placeholder="用户名">
        <input type="submit" value="删除用户">
    </form>
    <h2 th:utext="${msg3}"></h2>
</div>

<div>
    <form action="/updateuser" method="post">
        <label for="">用户名</label>
        <input type="text" name="username" placeholder="用户名">
        <label for="">密码</label>
        <input type="password" name="password" placeholder="密码">
        <input type="submit" value="更改密码">
    </form>
    <h2 th:utext="${msg4}"></h2>
</div>
</body>
</html>