<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.w3.org/1999/xhtml" th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
<h2>欢迎进入注册页面</h2>
<div>
    <form action="/register" method="post">
        <label for="">用户名</label>
        <input type="text" name="username" placeholder="用户名">
        <label for="">密码</label>
        <input type="password" name="password" placeholder="密码">
        <input type="submit" value="注册">
    </form>
    <h2 th:utext="${msg1}"></h2>
</div>

<div>
    <form action="/getuser" method="post">
        <label for="">用户名</label>
        <input type="text" name="username" placeholder="用户名">
        <input type="submit" value="查找用户">
        <h2 th:utext="${msg}"></h2>
    </form>

</div>

</body>
</html>